$cell-size: 98px;
$gap-size: 1px;
$cell-border: 1px solid black;
$cell-color: #eee;
$cell-hover-color: #ffbfcb;
$font-family: Arial, Helvetica, sans-serif;
$font-size: 30px;
$dayss: ('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat');
$calendar-width: (7 * $cell-size) + (6 * $gap-size);
$calendar-padding: 10px;
